#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.bg{
    position: absolute;
    top: -5rem;
    z-index: -1;
    right: -11rem;
    left: auto;
    object-fit: cover;
    height: 105vh;
}
.introcontent{
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.5rem;
    font-weight: 200;
}
.introName{
    color: #00ADB5;

}
.intropara{
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 1px;
}
@media screen and (max-width:390px) {
    .bg{
        right:-100vw;
    }
    .introcontent{
        font-size: 10vw;
    }
    .hello{
        font-size: 5vw;
    }
}